---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}


<!-- Table of Contents -->
  <h2>Table of Contents</h2>
  <ul>
    <li><a href="#workshop-conference">Workshop/Conference Talks</a></li>
    <li><a href="#colloquium">Colloquium Talks</a></li>
    <li><a href="#seminar">Seminars</a></li>
  </ul>

<!-- Workshop/Conference Talks Section -->
<h2 id="workshop-conference">Workshop/Conference Talks</h2>
{% assign workshop_conference_talks = site.talks | where: "category", "workshop-conference" %}
{% for post in workshop_conference_talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<!-- Colloquium Talks Section -->
<h2 id="colloquium">Colloquium Talks</h2>
{% assign colloquium_talks = site.talks | where: "category", "colloquium" %}
{% for post in colloquium_talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<!-- Seminars Section -->
<h2 id="seminar">Seminars</h2>
{% assign seminars = site.talks | where: "category", "seminar" %}
{% for post in seminars reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
